// assets/stylesheets/discourse-hide-post-toggle.scss

//Version : 0.12

button.topic_hidden {
    background-color: red !important;
}
button.topic_visible {
    background-color: var(--primary-low);
}


.custom-class-hidden {
    background-color: red !important;
  }
  
  .custom-class-visible {
    background-color: var(--primary-low);
  }

//

  /*
  .d-modal__title-text {
    visibility: hidden;
    position: absolute;
  }
  
  .d-modal__title-text:before {
    content: ' Message from Discourse Forum';
    visibility: visible;
  }

.d-modal__body {
  visibility: hidden;
  position: relative;
}

.d-modal__body::after {

  content: 'Thank you for Submitting and Contributing to our Discourse Forum';
  display: block;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 10;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
  font-size: 18px;
}

.reviewable-type {
  display: none;
}

.reviewable-actions {
  display: none;
  visibility: hidden;
}
*/

/*
  .post-enqueued-modal {
    display: none;
  }

  .modal-container {
    display: none;
  }

  .pending-posts {
    display: none;
  }
*/

//.d-modal__body p {
//  visibility: hidden;
//  position: relative;
//}

/*
// Replace "Post Needs Approval" with new text

.d-modal__title-text:after {
  content: "Thank you for Submitting and Contributing to our Discourse Forum";
  display: block;
  visibility: visible;
}

// Replace the approval message with new text

.d-modal__body p:first-of-type:after {
  content: "This is the new approval message.";
  display: block;
  //visibility: visible;
}

// Replace the pending posts message with new text
.d-modal__body p:last-of-type:after {
  content: "This is the new message about pending posts.";
  display: block; 
  //visibility: visible;
}

// Hide original text content
.d-modal__title-text,
.d-modal__body p:first-of-type,
.d-modal__body p:last-of-type {
  visibility: hidden;
}

.d-modal__container {
  width: 850px; // Adjust the value to your preferred width
}

.d-modal__container {
  height: 0px; // Adjust the value to your preferred height
}

.d-modal__footer {
  visibility: hidden;
}
*/